<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Statistiques des Patients</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link 	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
             type="text/css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-link active" th:href="@{/user/index}">
                    <img  th:src="@{/images/logo.png}"/>
                </a>

            </li>
        </ul>

        <ul class="navbar-nav .ml-auto">
            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Patients
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/user/index}">Liste</a></li>
                    <li><a class="dropdown-item" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/formPatients}">Nouveau</a></li>
                    <li><a class="dropdown-item" sec:authorize="hasRole('ADMIN')" th:href="@{/user/statistics}">Voir les statistiques</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Medecins
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/user/medecins}">Liste</a></li>
                    <li><a class="dropdown-item" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/formMedecin}">Nouveau</a></li>
                    <li><a class="dropdown-item" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/specialite}">Voir les statistiques</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Rendez-vous
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/user/rdv}">Liste</a></li>
                    <li><a class="dropdown-item"  sec:authorize="hasRole('ADMIN')" th:href="@{/admin/formRDV}">Nouveau</a></li>
                    <li><a class="dropdown-item" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/statistics}">Voir les statistiques</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Dossier Medical
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/user/dossierMedical}">Liste</a></li>
                    <li><a class="dropdown-item" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/formDossierMedical}">Nouveau</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Consultations
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/user/consultations}">Liste</a></li>
                    <li><a class="dropdown-item"  sec:authorize="hasRole('ADMIN')" th:href="@{/admin/formConsultation}">Nouveau</a></li>

                </ul>
            </li>
            <li style="padding: 0.5rem 1rem; color: #ff0000;">
                <!--						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"-->
                <!--							aria-haspopup="true" aria-expanded="false">-->
                <!-- 							<i class="fas fa-user-circle"></i> <span th:text="${#authentication.name}"></span>-->
                <a th:href="@{/login?logout}">Déconnexion</a>

                <!--						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">-->
                <!--							<a th:href="@{/admin/users}" class="dropdown-item"  sec:authorize="hasRole('ADMIN')">Utilisateurs</a>-->
                <!--							<a th:href="@{/login?logout}" class="dropdown-item">Se déconnecter</a>-->
                <!--						</div>-->
            </li>
        </ul>

    </div>
</nav>

<h1>Patients Statistics</h1>

<!-- Graphique pie pour les patients -->
<div style="width: 50%; text-align: center; height: 400px;">
    <canvas id="patientsChart"></canvas>
    <p>Patients Statistics</p>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var patientsCtx = document.getElementById('patientsChart').getContext('2d');
        var patientsChart = new Chart(patientsCtx, {
            type: 'pie',
            data: {
                labels: ['Malades', 'Non Malades'],
                datasets: [{
                    data: [
                        [[${maladeCount}]],
                        [[${nonMaladeCount}]]
                    ],
                    backgroundColor: [
                        '#FF6384',
                        '#36A2EB'
                    ],
                    hoverBackgroundColor: [
                        '#FF6384',
                        '#36A2EB'
                    ]
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: true,
                    position: 'right'
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var dataset = data.datasets[tooltipItem.datasetIndex];
                            var total = dataset.data.reduce(function (previousValue, currentValue, currentIndex, array) {
                                return previousValue + currentValue;
                            });
                            var currentValue = dataset.data[tooltipItem.index];
                            var percentage = Math.round((currentValue / total) * 100);
                            return ' ' + data.labels[tooltipItem.index] + ': ' + currentValue + ' (' + percentage + '%)';
                        }
                    }
                }
            }
        });
    });
</script>
